<div class="text-danger" data-alert='alert'>
     <p class="feed_error">
     <i class="glyphicon glyphicon-exclamation-sign"></i> Message not sent, please review the fields below and retry!

     <a class="close" data-dismiss='alert'>&times;</a>
     </p>

      
</div>	