<div class="admin_wrapper">

    <div class="admin-header">
      <%=render 'bookings/navbar' %>
    </div>

<div class="container">
<div class="container-fluid">
<h1>New Partner</h1>

<%= render 'form' %>


<br>
<%= link_to 'Go Back', partners_path %>

</div>
</div>
</div>