<% provide(:title, 'Terms and Conditions | Gofixam')%>

<div class="container-fluid term_wrapper">
<div class="container term_div">

<div class="logo_icon">
<%=link_to  new_user_registration_path do  %>
  <%=image_tag 'gopng.png', class:"img-thumbnail",id:"nav-icon",alt:'gofixam-logo'%>
<%end%>
</div>



<div class="term_header">User Terms & Conditions</div>


<div class="terms_list">
<h2> Introduction</h2>
<p>
Our Company has basic obligations to exercise reasonable skill and care, and provide Services as agreed between the Company and the Client. The following guidelines are how we hope to complete successful service transaction:
</p>
</div>

<div class="terms_list">
<h2>1. Repair Process & Delays:</h2>
<p>


Our standard repair time is 24 hours. As repairs vary in difficulty, so does the time needed to complete them. After diagnostic tests are run on your device, you will be notified of the device issue and estimated time of repair. In an event of exceeding our standard 1 day period, further explanation will be provided for the delay and progress can always be tracked using your repair code.

As much as we try to service all requests made to us, we cannot guarantee repair of your device after running diagnostic tests. Also, the time estimates for completion of the repair service which may be given to you is an estimate only and does not form any obligation under the terms of this agreement.

If we receive your device and we find there is nothing wrong with the device, we will send it back and refund you the difference. However, there will be a handling fee deducted; this covers logistics & diagnostic costs.
</p>
</div>


<div class="terms_list">
<h2>2. Pick up & Delivery:</h2>
<p>

Except otherwise stated, all repairs come with free pickup. Upon receipt, all repaired devices are to be examined and if any damage is noticed as a result of courier, our customers service should be immediately contacted. The timeline of our logistics partners are taken into consideration when calculating delivery dates, so no extra wait time is required after the stated delivery date. We shall not bear any extra payment made to the courier agent outside the agreed fee for whatever reason.

In a situation where your device is lost in transit, we will only require a copy of your receipt with tracking information and the original receipt of the device to process your claim. Once this is presented, we will process your claim within 14 days and take the necessary action.

A client may desire to have his or her repaired device dropped with a neighbor or kept at a designated. Unfortunately, we will not be able to do this as we require the signature
 

of the client to complete delivery. Addresses or delivery locations can only be changed three days before delivery. Address change requests made in less time will not be attended to. Address change can only be carried out via mail to enquire.gofixam@gmail.com or a call to 08145216690 or 09059335755.
</p>
</div>

<div class="terms_list">
<h2>3. Customers Outside our Coverage:</h2>
<p>
Customers outside our coverage area are not eligible to book repairs until service is made available to them.
</p>
</div>


<div class="terms_list">
<h2>4. Payment:</h2>
<p>
Payments for repairs can only be on delivery. Payments are also non-refundable except in unique cases.
</p>
</div>

<div class="terms_list">
<h2>5. Prices:</h2>
<p>

Prices vary based on the repair needed. Promotion prices are only valid within the promotion period. All prices are inclusive of VAT and delivery charges except otherwise stated.
</p>
</div>

<div class="terms_list">
<h2>6. Warranty:</h2>
<p>

Our warranty only covers the original repair. All original repairs (with the exception of software related and water damages) come with at least a 15 days warranty. 

If the nature of the repair falls outside the terms of your warranty or guarantee, then you may incur a charge for the repair. Furthermore, if you take your device to a third party after it has been repaired by us, the warranty on your device becomes void. All software related repairs are not covered by our warranty.

</p>
</div>

<div class="terms_list">
<h2>7. Liability:</h2>
<p>
In an event where your device is damaged beyond any economical repair through our negligence or willful misconduct, our liability will be limited to the cost of providing a replacement with a product that is the same or similar to your device. You have sole responsibility for any data stored on your device and we accept no liability for loss or corruption of such data howsoever caused. It is your responsibility to keep a record of any such data.

When sending in a damaged device, our technicians will probably need to open up the device to either diagnose or repair it, this comes with an element of risk and may result in some minor damages to your device. We do everything possible to ensure this doesn't happen, however, if it does happen and the damages are significant we will offer a replacement or repair.

We will not be responsible for any damage or fault caused by a previous repair.
</p>
</div>

<div class="terms_list">
<h2>8. Additional Repairs:</h2>
<p>

Our diagnostic test is run at different stages by different technicians to properly ascertain the level of damage to your device. During this test, other faults not stated in your initial service request may be discovered. If we find an additional fault with your device we will notify you via email or phone call stating the extra charge. You will only be charged this extra if you accept that we go ahead with the additional repair. Kindly note that additional repairs can only be carried out once payment is made.
</p>
</div>

<div class="terms_list">
<h2>9. Data:</h2>
<p>
For digital devices, we strongly advise that all data is backed up before your device is sent to us. We do not offer a data recovery service. Pin Locks and passwords must be removed before your device is sent over to us. In some cases, we may need to run an operating system update for mobile phones and computers and this may result in changes to settings.

By sending your device to us, you agree to release us from all claims, damages or losses with respect to the digital device, any data stored therein or on any media used in conjunction with the mobile device. We accept no responsibility in relation to the security, protection, confidentiality or use of such data and it is the responsibility of the customer to ensure that such data is removed from the device before sending the device to us.
</p>
</div>

<div class="terms_list">
<h2>10. Cancellations:</h2>
<p>
For full refund, cancellation of orders can only be made before device is picked up and diagnostic tests run. Any cancellation requests made after this time will incur some slight charges especially for logistics. Cancellations can only be made via email or telephone 24/7.
</p>
</div>

<div class="terms_list">
<h2>11. Weekend Service:</h2>
<p>
We offer 24/7 services as we always try to ensure repairs are completed in record time, but given that some of our partners may not run fully over weekends, services may be slower during this period.
</p>
</div>

<div class="terms_list">
<h2>12. Customer Care Service:</h2>
<p>
All reports, complaints or enquiries are attended to within 24 hours of receipt.
</p>
</div>

<div class="terms_list">
<h2>13. Insurance:</h2>
<p>
Our insurance only covers registered customers who can provide a legitimate tracking code for the services we provide. The insurance estimate is only up to the value of your device, whichever is the cheapest amount, and this will cover for a like for like replacement of the device sent in.The insurance covers logistics loss only which implies that we will cover loss of your device only when it fails to be delivered and the courier company we have used confirm the item as lost. Necessary documents must be presented for claims to be considered.

If we replace a device with a like model for any reason, this comes with a 2 month warranty for repairs but does not cover accidental damage. If your device has been lost in the post, we are unable to refund the repair or service fee, as the work has already been carried out. Your replacement device will be in full working order.
</p>
</div>

<div class="terms_list">
<h2>14. Diagnostic Service:</h2>
<p>

The diagnostic fee covers shipping costs only and will be deducted from any repair cost if you decide to go ahead with a repair.
</p>
</div>

<div class="terms_list">
<h2>15. Blocked Devices:</h2>
<p>

At gofixam.com, we will not repair any mobile device that has been bricked, blocked or jail-broken. The device will be sent back and the customer will be refunded except for diagnostic tests. If the device has no IMEI number for mobile devices and similar identification for other devices, then we will not repair the device. This is for security and warranty purposes, the device will be sent back and the customer will be refunded.
</p>
</div>
 
 <div class="terms_list">
<h2>16. Discounts:</h2>
<p>

All valid discount codes come from a minimum spend of N10,000. Discount codes cannot be applied to additional repairs which may be required.
</p>
</div>


 <div class="terms_list">
<h2>17. Returns:</h2>
<p>
We will attempt a re-repair on your device twice after the initial repair. If after this, the device is still faulty we will issue a refund (minus logistics costs). We will need to see the device and make sure its faulty prior to issuing a refund. This does not include diagnostic and water damage related repairs.
</p>
</div>


 <div class="terms_list">
<h2>18. Complaints:</h2>
<p>
If you wish to make a compliant, please email enquiry.gofixam@gmail.com or call 08145216690 or 09059335755 during working hours.
</p>
</div>



</div>

</div>

<%= render 'shared/footer_scroll2'%>