
<h2 class="form-inputs" id="admin">ADD STATE</h2>
<%= simple_form_for @state do |f| %>
 <%= f.error_notification %>
  <div class="form-inputs" id="admin">
    <%= f.input :state%>
    <%= f.button :submit, "Create State",class:'btn btn-primary' %>
  </div>
<% end %>



