<div class="admin_wrapper">

    <div class="admin-header">
      <%=render 'bookings/navbar' %>
    </div>

  <div class="container">



<%= render 'form' %>

<div class='form-inputs' id="admin">
<%= link_to 'Back', states_path %>

</div>

</div>
</div>

<%=render "shared/footer_scroll2"%>
