  <div class="container-fluid bottom_social2">

 <div class="bottom_social">
 
    <div class="row" >

<div class="col-sm-8">

<div>
<div class="social_left">
<h4>MENU</h4>
    <div id="mobilemenu">
        <ul class="scroll_links">
        <li><a href="#home">Home</a></li>
        <li><a href="#plan">Our Plans</a></li>
        <li><a href="#track">Track Order</a></li>
        <li><a href="#contact">Contact us</a></li>
        <li><a href="/blog" target="blank"> Blog</a></li>
        </ul>
    </div>
    <div id="desktopmenu">
        <ul class="scroll_links">
        <li><a href="#home">Home</a></li>
        <li><a href="#plan">Our Plans</a></li>
        <li><a href="#track">Track Order</a></li>
        <li><a href="#contact">Contact us</a></li>
        <li><a href="/blog" target="blank"> Blog</a></li>
        </ul>
    </div>

</div>
<div class="social_right">
<h4>SOCIAL</h4>
<ul>

    <li><a href="https://www.facebook.com/GofixamNigeria/">Facebook </a></li>

    <li><a href="https://twitter.com/gofixam">Twitter</a></li>
        
    <li><a href="#">Instagram</a></li>
</ul>
</div>
</div>

</div>


<div class="col-sm-4 newsletter"><h5>Subscribe to our newsletter and we'll inform you of updates, offers and more. </h5>

<%= simple_form_for  :subscription, url:subscriptions_path, remote:true do |f| %>      
  <%= f.input :email , as: :email,  placeholder:"Your email address",label: false,required:true %>
  <%= f.button :submit, "Subscribe",id:'subscribe-btn',class:"btn btn-info" %> <%=image_tag 'ajax2.gif', alt:'loading',class:"ajax5"%>
  <%end%>

  <div class="subscribe_error"> </div>
  <div class="subscribe_success"> </div>


  </div>

</div>

  </div>
  </div>