		<div id="footer">
  <div class="container">
    <p class="text-muted">Copyright ©2016 KliqITal, Inc.</p>
  </div>
</div>

<ul class="nav pull-right scroll-top visible-lg visible-md visible-sm">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>