<% @posts.each do |post|%>

<div class="row blog_main_div">
 <div class="col-sm-4 ">

 <%=image_tag post.image,class:'img-thumbnail' %>


 </div>

  <div class="col-sm-8">

<div>

<%=link_to post.title,blog_path(post.url),class:'blogurl' %>

</div>

<div class="post_date">
	by Gofixam Staff, <%=post.created_at.strftime('%d %B %Y') %>
</div>

<div>

	<%=link_to post.category,"../blog/#{post.category.downcase.tr('/','_')}",class:'blogcat' %>


</div>




<div class='post_count_div navbar-right'>
	
	

</div>



<div class="admin_auth_menu navbar-right">

<span class="glyphicon glyphicon-eye-open"></span> <b class='post_count_span'><%= Postcounter.where("blog_id='#{post.id}'").count %></b>

<% if admin_signed_in? %>
	<%=link_to  edit_blog_path(post.url) do  %>
  <span class='glyphicon glyphicon-edit' title="Visible to admin only"></span>
<%end%>

<%=link_to  blog_path(post.url),method: :delete,data: { confirm: "Are you sure?" } do  %>

  <span class='glyphicon glyphicon-trash' title="Visible to admin only"></span>

<%end%>





<% end %>

</div>




 </div>

 </div>
                      
                                                                                               
 <%end%>