	<div class="container bloggofixhead">
		<%=link_to  root_path do  %>
  <%=image_tag 'gopng.png', class:"img-thumbnail blog_logo",id:"nav-icon",alt:'gofixam-logo'%>
<%end%>

<div class="search_website">
<ul class="nav navbar-nav navbar-right">
        <li>
        	  <%# form_tag(track_order_orders_path,remote:'true',id:'track_form' ) do %> 
     <div class="form-group">    
  <%= text_field_tag(:order_number,"",placeholder:"search this website...",class:"form-control") %>
       
      <%#end%>

        </li>     
        </ul>
</div>
	</div>
 <nav class="navbar navbar-inverse blognavbar">
  <div class="container ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#blognavbar">
        <span style="color:#66b5ff">Menu</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="blognavbar">
      <ul class="nav navbar-nav ">
      <li><a href="/blog" > <span class='glyphicon glyphicon-home'> </span> HOME</a></li>
        <li><a href="/blog/mobiles">MOBILES</a></li>
        <li><a href="/blog/tablets">TABLETS</a></li>
        <li><a href="/blog/apps">APPS</a></li>
        
        <li><a href="/blog/pc_laptops">LAPTOPS</a></li>
        <li><a href="/blog/internet">INTERNET</a></li>
        
        <li><a href="/blog/socials">SOCIAL MEDIA</a></li>
        <li><a href="/blog/startups">STARTUPS</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/blog/cameras"></a></li>
          <li><a href="/blog/telecom">TELECOM</a></li>
          <li><a href="/blog/gaming">GAMING</a></li>
          <li><a href="/blog/science">SCIENCE</a></li>
          <li><a href="/#contact">CONTACT</a></li>
          <li><a href="/blog/audio_videos">AUDIO/VIDEOS</a></li>

        </ul>
      </li>
        
      </ul>

      

    </div>
  </div>
</nav>