
<% provide(:title, 'EDIT POST')%>
<div class="admin_wrapper">

    <div class="admin-header">
      <%#render 'bookings/navbar' %>
    </div>

<div class="container">
<div class="container-fluid">







<h1>Edit Post</h1>

<%= render 'form2' %>


<br>
<%= link_to 'Go Back', blog_index_path %>

</div>
</div>
</div>


<%=render "shared/footer_scroll"%>
