<% if notice  %>

<div class="error_alert" style="width:70%;margin:10px auto;height:auto !important;text-align:center">
  	<div class="notice" style="padding:0px !important"><i class="glyphicon glyphicon-exclamation-sign"></i> <%= notice %></div>
</div>

<% end -%>

<% if alert %>

<div class="error_alert" style="width:70%;margin:10px auto;height:auto !important;;text-align:center">
  	<div class="alert" style="padding:0px !important"><i class="glyphicon glyphicon-exclamation-sign"></i> <%= alert %></div>
</div>

<% end -%>